<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringDemo2ByWang:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringDemo2ByWang_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringDemo2ByWang/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringDemo2ByWang" />
        </element>
      </element>
    </root>
  </artifact>
</component>